<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .block {
      width: 100px;
      height: 20px;
    }

    .ex1 {
      float: left;
      background-color: yellow;
    }
    
    .ex2 {
      background-color: blue;
    }

    .ex3 {
      padding: 20px;
      background-color: black;
      color: #fff;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="block ex1">123</div>
    很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多
    <div class="block ex2">
      <div class="ex3">123</div>
    </div>
  </div>
</body>
</html>